body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background:url('https://newevolutiondesigns.com/images/freebies/cool-wallpaper-3.jpg'),linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
  width:100%;
  height:100vh;
  background-size:cover;
  background-blend-mode: hard-light;
  animation: hue-rotate 3s linear infinite;
}


@keyframes hue-rotate {
from {
  -webkit-filter: hue-rotate(0);
  -moz-filter: hue-rotate(0);
  -ms-filter: hue-rotate(0);
  filter: hue-rotate(0);
}
to {
  -webkit-filter: hue-rotate(360deg);
  -moz-filter: hue-rotate(360deg);
  -ms-filter: hue-rotate(360deg);
  filter: hue-rotate(360deg);
}
}